@import "tailwindcss";

@theme {
  --font-main: var(--font-montserrat);
  --font-logo: var(--font-kumbh-sans);
  --color-yellow-400: #cca217;
  --color-gray-900: #1d1d1d;
  --color-gray-800: #18171c;
}

.execute img {
    width: 30px;
    height: 30px;
}

.exc-img {
    width: 70px;
    height: 70px;
    background: #f2c01652;
    border-radius: 8px;
}

.last-foot {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.last-foot p {
  font-size: 12px;
  text-align: center;
}